<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Stiftung Jugend fördern - Grenzen übespringen</title>
    <link rel="stylesheet" href="assets/package/swiper-bundle.min.css">
    <link rel="icon" href="assets/images/Logo.jpg" sizes="16x16" type="image/png">
    <!-- Apple touch icons for iOS devices -->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/Logo.jpg">
    <!-- Link to offline Bootstrap CSS -->
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <!-- Link to custom CSS -->
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="assets/bootstrap-icons/bootstrap-icons.css">
</head>

<body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg fixed-top d-flex flex-wrap" id="navbar">
        <div class="container-fluid">
            <span class="navbar-brand me-auto text-dark"><img src="assets/images/18.png" alt="JUGEND LOGO"
                    class="oval-image">
            </span>
            <div class="offcanvas offcanvas-end offcanvas-fullscreen" tabindex="-1" id="offcanvasNavbar"
                aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
                        <img src="assets/images/18.png" alt="church" class="oval-image">
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a href="index.html" class="nav-link mx-lg-2 ">Home</a>
                        </li>
                        <li class="nav-item ">
                            <div class="dropdown">
                                <a class="nav-link mx-lg-2" href="#" id="dropdownMenuFoundation" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Our Foundation<span class="navbar-icon"><i class="fa fa-sort-desc"
                                            aria-hidden="true"></i></span>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuFoundation">
                                    <li><a class="dropdown-item hover-move" href="#">history</a></li>
                                    <li><a class="dropdown-item hover-move" href="#">mission</a></li>
                                    <li><a class="dropdown-item hover-move" href="#">foundation board</a></li>
                                    <li><a class="dropdown-item hover-move" href="#">annual report</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="dropdown">
                                <a class="nav-link mx-lg-2" href="#" data-bs-toggle="dropdown" role="button"
                                    id="dropdownMenuProjects" aria-expanded="false">Supported Projects<span
                                        class="navbar-icon"><i class="fa fa-sort-desc"
                                            aria-hidden="true"></i></span></a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuProjects">
                                    <li><a class="dropdown-item  hover-move" href="#">our branch in tanzania</a></li>
                                    <li><a class="dropdown-item  hover-move" href="#">our branch in ethiopia</a></li>
                                    <li><a class="dropdown-item  hover-move" href="#">education in pakistan</a></li>
                                    <li><a class="dropdown-item  hover-move" href="#">individual stipendia</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item ">
                            <div class="dropdown">
                                <a class="nav-link mx-lg-2" href="#" id="dropdownMenuInvolved" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    explore<span class="navbar-icon"><i class="fa fa-sort-desc"
                                            aria-hidden="true"></i></span>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuInvolved">
                                    <li><a class="dropdown-item hover-move" href="blog.html">Our blog</a></li>
                                    <li><a class="dropdown-item hover-move" href="#">success stories</a></li>
                                    <li><a class="dropdown-item hover-move" href="#">gallery</a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item text-muted" href="/author-login"><i
                                                class="fa fa-lock pe-1"></i> Staff
                                            Login</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <a href="#" class="Donation-button"><i class="fas fa-hand-holding-heart pe-1"></i>Donate</a>

            <button class="navbar-toggler pe-0" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

        </div>
    </nav>
    <!--End Navbar-->

    <div class="carousel blog-page-carousel" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active carousel-page-blog">
                <img src="assets/images/12.jpg" class="d-block w-100" alt="youth crossing boundaries">
            </div>
        </div>
    </div>
    <!--End of Carousel-->


    <div class="container-fluid blog-page-container">
        <div class=" blog-page-title d-flex flex-column justify-content-center text-center">
            <div class="blog-page-header pb-2">Together for a Better Tomorrow</div>
            <div class="blog-page-date"><span class="pe-2"><i class="bi bi-calendar4-range"></i></span>12 april 2024
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12 col-md-10 border-md-right blogu-page-col-right-space">
                <div class="blog-page-text">As he does every year, Father Martin has written a letter to the people who
                    support his foundation. Here is the text:
                    This is one of the pictures that touches my heart. This year's graduates in Zanzibar, at the Machui
                    Community College of the sister order ‘From the precious blood of Jesus’. All the young people come
                    from the slums of Dar es Salaam. They have grown up in miserable conditions. They all suffered from
                    hunger because their parents were unable to provide them with school meals. They had to endure from
                    8 a.m. to 5 p.m.

                    <div class="blog-nakala pt-2 text-center">
                        <a href="assets/documents/1.pdf" class="link" target="_blank" download>letter to scholars<i
                                class="fa-solid fa-download download-color"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-2 blog-page-share2 text-center">
                <span class="blog-page-share1">Share</span>
                <div class="blog-page-share">
                    <span>
                        <a href="#" id="email-share" target="_blank" title="Share on email">
                            <i class="fa-solid fa-envelope icon-hover footer-icons1"></i>
                        </a>
                    </span>
                    <span>
                        <a href="#" id="x-share" target="_blank" title="Share on X">
                            <i class="fa-brands fa-x-twitter icon-hover footer-icons1"></i>
                        </a>
                    </span>
                    <span>
                        <a href="#" id="whatsapp-share" target="_blank" title="Share on WhatsApp">
                            <i class="fa-brands fa-whatsapp icon-hover footer-icons1"></i>
                        </a>
                    </span>
                    <span>
                        <a href="#" id="facebook-share" target="_blank" title="Share on Facebook">
                            <i class="fa-brands fa-facebook icon-hover footer-icons1"></i>
                        </a>
                    </span>
                </div>
            </div>

        </div>
    </div>


    <!-- Footer -->
    <footer>
        <div class="container-fluid footer-contena">
            <div class="row text-sm-start logo-row">
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 custom-footer-col">
                    <div class="centa-logo pb-2">
                        Get in Touch
                    </div>
                    <ul class="list-unstyled">
                        <li class="footer3">
                            <i class="fa-solid fa-location-dot footer2-1"></i>Meiselstr. 1 <br /><span class="ps-4">1150
                                Wien
                                (Vienna), Austria</span>
                        </li>
                        <li class="footer3">
                            <i class="fa-solid fa-envelope footer2-1"></i>mrupprecht@aon.at
                        </li>
                        <li class="footer3">
                            <span class="footer2"><i class="fa-solid fa-phone footer2-1"></i>+43 699 18822241</span>
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 custom-footer-col">
                    <h5 class="footer-heads">Who we are</h5>
                    <ul class="list-unstyled">
                        <li><a href="#" class="footer2 footer-hover">History</a> </li>
                        <li><a href="#" class="footer2 footer-hover">Mission</a></li>
                        <li><a href="#" class="footer2 footer-hover">Foundation Board</a></li>
                        <li><a href="#" class="footer2 footer-hover">Annual Reports</a></li>
                    </ul>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 custom-footer-col">
                    <h5 class="footer-heads">stay connected</h5>
                    <ul class="list-unstyled">
                        <li><a href="#" class="footer2 footer-hover">Picture Gallery</a></li>
                        <li><a href="#" class="footer2 footer-hover">Our Blog</a></li>
                        <li><a href="#" class="footer2 footer-hover">Donate Now</a> </li>
                    </ul>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 custom-footer-col">
                    <h5 class="footer-heads">newsletter</h5>
                    <div class="py-3">
                        <input type="email" class="form-control subscribe-input" placeholder="Enter your email"
                            aria-label="Email">
                        <button class="btn mt-3 subscribe-btn">Subscribe</button>
                    </div>
                </div>
            </div>
            <!-- Line with Bootstrap utilities -->
            <div class="mx-auto my-3 horizontal-line"></div>
            <div class="row footer-terms">
                <div class="col-sm">
                    <div class="footer-icons">
                        <a href="https://www.instagram.com/youthcrossingboundaries?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
                            target="_blank"><i class="fa-brands fa-instagram icon-hover footer-icons1"></i></a>
                        <a href="#"><i class="fa-brands fa-x-twitter icon-hover footer-icons1"></i></a>
                        <a href="https://facebook.com/100094742646234" target="_blank"><i
                                class="bi bi-facebook icon-hover footer-icons1"></i></a>
                        <a href="https://youtube.com/@youthcrossingboundariesf-bt5ps?si=L_c8ii1uYyGYYvMw"
                            target="_blank"><i class="fa-brands fa-youtube icon-hover footer-icons1"></i></a>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="footer1">
                        <p>&copy; <span id="currentYear" class="pe-2"></span>Youth Crossing Boundaries foundation
                            <span class="separator">|</span>
                            all rights reserved.
                        </p>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="footer-links">
                        <a href="{% url 'sera' %}" class="footer-hover">Privacy Policy</a>
                        <span class="separator">|</span>
                        <a href="{% url 'masharti' %}" class="footer-hover">Terms of Use</a>
                    </div>
                </div>
            </div>
            <div class="row mb-4 mt-4">
                <div class="col-sm">
                    <div class="d-flex justify-content-center text-white">
                        <a href="https://wa.me/255622984011" class="designer" target="_blank"><span
                                class="text-white">Developed
                                By</span> MsakiTech Xpert
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer-->



    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const pageUrl = encodeURIComponent(window.location.href); // Get current page URL
            const pageTitle = encodeURIComponent(document.title); // Get page title

            // Email sharing
            document.getElementById("email-share").href =
                `mailto:?subject=${pageTitle}&body=Soma Makala hii: ${pageTitle} ${pageUrl}`;

            // X (Twitter) sharing
            document.getElementById("x-share").href =
                `https://twitter.com/intent/tweet?url=${pageUrl}&text=${pageTitle}`;

            // WhatsApp sharing
            document.getElementById("whatsapp-share").href =
                `https://api.whatsapp.com/send?text=${pageTitle} ${pageUrl}`;

            // Facebook sharing
            document.getElementById("facebook-share").href =
                `https://www.facebook.com/sharer/sharer.php?u=${pageUrl}&quote=${pageTitle}`;
        });
    </script>

    <script src="assets/package/swiper-bundle.min.js"></script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            new Swiper(".swiper1", {
                slidesPerView: 1,
                spaceBetween: 15,
                loop: true,
                autoplay: {
                    delay: 3000,
                    disableOnInteraction: false,
                },
                speed: 800,
                breakpoints: {
                    550: {
                        slidesPerView: 2
                    },
                    950: {
                        slidesPerView: 3
                    }
                },
                pagination: {
                    el: ".swiper-pagination",
                    clickable: true,
                },
            });
        });
    </script>


    <script>
        function animateProgress(targetPercentage, duration = 1000) {
            const circle = document.querySelector('.progress-circle .progress');
            const text = document.getElementById('progressPercent');
            const radius = 45;
            const circumference = 2 * Math.PI * radius;

            let current = 0;
            const interval = 10;
            const steps = duration / interval;
            const increment = targetPercentage / steps;

            let progress = 0;
            const animation = setInterval(() => {
                progress += increment;
                if (progress >= targetPercentage) {
                    progress = targetPercentage;
                    clearInterval(animation);
                }

                const offset = circumference - (progress / 100) * circumference;
                circle.style.strokeDashoffset = offset;
                text.textContent = `${Math.round(progress)}%`;
            }, interval);
        }

        // Detect scroll into view
        const progressObserver = new IntersectionObserver((entries, observer) => {
            entries.forEach(entry => {
                if (entry.isIntersecting) {
                    animateProgress(100);
                    observer.unobserve(entry.target); // Only run once
                }
            });
        }, { threshold: 0.5 });

        progressObserver.observe(document.getElementById('circleSection'));
    </script>

    <script>
        const counters = document.querySelectorAll('.counter-numbers');

        const animateCounter = (counter) => {
            const target = +counter.getAttribute('data-target');
            const duration = 1000;
            const stepTime = 10;
            let current = 0;
            const increment = target / (duration / stepTime);

            const updateCounter = () => {
                current += increment;
                if (current < target) {
                    counter.textContent = Math.ceil(current) + '+';
                    setTimeout(updateCounter, stepTime);
                } else {
                    counter.textContent = target + '+';
                }
            };

            updateCounter();
        };

        const counterObserver = new IntersectionObserver((entries, observer) => {
            entries.forEach(entry => {
                if (entry.isIntersecting) {
                    animateCounter(entry.target);
                    observer.unobserve(entry.target);
                }
            });
        }, { threshold: 0.5 });

        counters.forEach(counter => counterObserver.observe(counter));
    </script>



    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const offcanvasElement = document.getElementById('offcanvasNavbar');
            const bsOffcanvas = bootstrap.Offcanvas.getOrCreateInstance(offcanvasElement);
            const closeBtn = offcanvasElement.querySelector('.btn-close');

            // 🔸 When Opening
            offcanvasElement.addEventListener('show.bs.offcanvas', function () {
                offcanvasElement.classList.add('offcanvas-animate-in');
            });

            // 🔸 After Open Animation Ends
            offcanvasElement.addEventListener('shown.bs.offcanvas', function () {
                setTimeout(() => {
                    offcanvasElement.classList.remove('offcanvas-animate-in');
                }, 500); // match duration
            });

            // 🔸 When Closing
            closeBtn.addEventListener('click', function (e) {
                e.preventDefault(); // prevent instant Bootstrap close
                offcanvasElement.classList.add('offcanvas-animate-out'); // Add close animation class

                setTimeout(() => {
                    bsOffcanvas.hide(); // Close after animation
                    offcanvasElement.classList.remove('offcanvas-animate-out'); // Clean up
                }, 500); // match animation duration
            });
        });
    </script>


    <script>
        // Create a Date object for Tanzania's timezone (EAT is UTC+3)
        const tanzaniaTime = new Date().toLocaleString("en-US", {
            timeZone: "Africa/Dar_es_Salaam",
        });

        // Get the year from the localized date
        const currentYear = new Date(tanzaniaTime).getFullYear();

        // Insert the year into the element
        document.getElementById("currentYear").textContent = currentYear;
    </script>
    <!-- Bootstrap Js -->
    <script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>